.card {
  border: 1px solid #ccc;
  border-radius: 15px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  max-width: 1200px;
}

.card-header {
  background-color: #4444AA;
  border-radius: 15px 15px 0 0;
  padding: 10px;
  color: white
}

.card-body {
  padding: 10px;
  text-align: left;
  border-width: 0px;
}